{% if messages %}
  {% for mess in messages %}
  {% if mess.tags == 'success' %}

  <div class="mt-5">
    <div class="alert alert-success alert-dismissible fade show w-100 " role="alert">
      {{ mess }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  

  {% elif mess.tags == 'error' %}
  <div class="mt-5">
    <div class="alert alert-danger alert-dismissible fade show w-100 " role="alert">
      {{ mess }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>

  {% elif mess.tags == 'info' %}
  <div class="mt-5">
    <div class="alert alert-info alert-dismissible fade show w-100" role="alert">
      {{ mess }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}